.card {
  transition: all 100ms ease-in;
  cursor: pointer;
  height: 20rem;
  overflow: hidden;
  box-shadow: 0 5px 20px -4px $dark-shadow;
  .transparent {
    background: transparent !important;
    box-shadow: none !important;
  }.favorite-btn {
    background: $red;
    position: absolute;
    top: 3rem;
  }
  .card-description {
    padding: 1rem;
  }
  &:hover {
    transform: scale(1.03);
  }
  .card-header {
    top: 0;
    color: $white;
    padding: 1rem;
  }
  .card-icons {
    background: $white;
    border: 0;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .favorite-icon {
    text-transform: capitalize !important;
    border: thin solid $blue;
    border-radius: .3rem;
    font-size: 1rem;
    border-color: $black;
    color: $black !important;
    padding: .1rem .5rem;
    font-size: .8rem;
    letter-spacing: .1rem;
    color: #000 !important;
    &:hover {
      background: $red;
      color: $white !important;
      border-color: $red;
    }
  }
  .card-image {
    .card-title {
      background: $overlay;
      font-size: 1.5rem;
      padding: 1rem;
      width: 100%;
    }
  }
  .tiny-small {
    color: $black;
    font-size: 1.4rem;
  }
  .progress-bar {
    margin: 0;
    padding-bottom: 0;
  }
}

.progress-bar {
  .zero {
    background: $red;
  }
  .zero-bg {
    background: $red-background;
  }
  .half-way {
    background: $yellow;
  }
  .half-way-bg {
    background: $yellow-background;
  }
  .completed {
    background: $green;
  }
  .completed-bg {
    background: $green-background;
  }
}

.card-action {
  a {
    // color: $black !important;
  }
}