.border-bottom {
    border-bottom: 1px solid #385CD7
}

.text-header {
    font-size: 21px;
    color: #385CD7;
}

.team-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.select-wrapper {
    ul {
        top: 37px !important
    }
}

.team-accounts {
   display: flex;
   border: 1px solid rgba(34,36,38,.15);
   border-radius: .28571429rem;
    .ui.multiple.dropdown {
        padding: .22619048em 2.1em .22619048em 0;
        flex: 12;
    }

    .ui.selection.active.dropdown {
        box-shadow: none;
    }

    .ui.selection.active.dropdown .menu {
        border-color: #dededf;
    }

    .ui.selection.dropdown {
        border: none;
    }

    input[type=text]:not(.browser-default) {
        height: 0;
    }

    .small-icon {
        height: 2rem;
    }

    .integration-icon {
        flex: 1;
        font-size: 2rem;
        padding: 0 .4rem;
        align-self: center;
    }
}

.bottom-margin {
    margin-bottom: 2rem;
}

.top-margin {
    margin-top: 2rem;
}

.submit-btn {
    .btn {
        text-transform: lowercase;
        width: 9rem;
        border-radius: 5px;
    }
}
