.border-bottom {
    border-bottom: 1px solid #385CD7
}

.text-header {
    font-size: 21px;
    color: #385CD7;
}

.team-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.select-wrapper+label {
    margin-top: 0.4rem
}

.select-wrapper {
    ul {
        top: 37px !important
    }
}

.form-wrapper {
    margin-bottom: 1rem
}

.input-field {
    position: relative;
    margin-top: 0.4rem;
    margin-bottom: 0.75rem;
}

.team-accounts {
   display: flex;
   border: 1px solid rgba(34,36,38,.15);
   border-radius: .28571429rem;
    .ui.multiple.dropdown {
        padding: .22619048em 2.1em .22619048em 0;
        flex: 12;
    }

    .ui.selection.active.dropdown {
        box-shadow: none;
    }

    .ui.selection.active.dropdown .menu {
        border-color: #dededf;
    }

    .ui.selection.dropdown {
        border: none;
    }

    input[type=text]:not(.browser-default) {
        height: 0;
    }

    .small-icon {
        height: 2rem;
    }

    .integration-icon {
        flex: 1;
        font-size: 2rem;
        padding: 0 .4rem;
        align-self: center;
    }
}

.bottom-margin {
    margin-bottom: 2rem;
}

.top-margin {
    margin-top: 2rem;
}

.submit-btn {
    .btn {
        text-transform: lowercase;
        width: 9rem;
        border-radius: 5px;
    }
}

.message-overlay {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
  }
.modalStyle {
    margin: 11% auto;
    width: 33%;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-container {
    display: flex;
    flex-direction: column;

    .top-header {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 70%;
        padding: 12px;
        border-bottom: 1px solid #DDDDDD;

        h1 {
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 36px;
        }
    }
}

.integration-res-container {
    display: flex;
    justify-content: space-between;
    width: 86%;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 30px 10px 30px;
}

.slick-blue {
    color: #3359DB;
}

.response-top-header {
    background-color: #EEEEEE;
    padding: 19px 0;
    margin: 12px 0 18px 0;

    h3 {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        text-align: center;
    }
    
}

.created-team-h {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    text-align: center;
}

.notification-item {
    margin-bottom: 3rem;
    width: 40%;

    .notif-item-header {
        display: flex;
        align-items: center;

        .notif-icon {
            width: 2rem;
        }
        h4 {
            margin: 0 0.2rem;
            font-size: 16px;
        }

        .notif-list {
            display: flex;
            align-items: center;
            margin: 1px 0 2px 1px;
    
            .integration-tool-name {
                display: flex;
                flex-direction: column;
                margin-left: 0.2rem;

                h6 {
                    font-size: 12px;
                    margin: 0;
                }
                p {
                    font-size: 10px;
                    color: #9E9E9E;
                }
            }
        }
    }
}

.notif-pass-icon {
    width: 1.2rem;
}

.notif-fail-icon {
    width: 1rem;
}


.notif-footer {
    display: flex;
    padding: 12px;
    justify-content: center;
    border-top: 1px solid #DDDDDD;


    .btn {
        padding: 0 35px;
    }
}
