.nav-blue {
  background: $blue;
}

.brand {
  font-size: $sm-size;
  margin-left: 3rem;
  text-shadow: 1px 1px 1px $black;
}
.sidenav {
  border-top: thick solid $blue;

  li > a {
    color: $grey;

    &:hover {
      color: $blue;
    }
  }
}
.nav-items {
  padding-right: 3rem;

  .search-icon {
    font-size: 1.5rem;
  }
}

.dropdown-content {
  border-bottom: .4rem solid $blue;
  top: -5rem;

  li {
    a {
      color: $grey;
      font-size: $sm-size;

      &:hover {
        color: $blue;
      }
    }
  }
}

.d-inline {
  display: inline;
}

.notif-container {
  position: relative;
}
