.nav-blue {
  background: $blue;
}

.nav-white {
  background: $white;
}

.brand {
  color: $blue;
  font-size: 2rem;
  margin-left: 3rem; // text-shadow: 1px 1px 1px $black;
}

.sidenav {
  border-top: thick solid $blue;
  li>a {
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
}

.tabs {
  height: auto;
  .tab {
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    padding: 0 !important; // padding-bottom: .5rem;
    margin: 0;
    text-transform: uppercase;
    a {
      color: $blue !important;
    }
  }
}

.sidenav-overlay {
  z-index: 1;
}

.dropdown-trigger {
  padding: 0 1rem;
  i.right {
    margin-left: 0 !important;
  }
}

.nav-items {
  padding-right: 3rem;
  color: $blue !important;
  a {
    color: $blue; // text-transform: lowercase;
  }
  .search-icon {
    font-size: 1.5rem;
  }
}

.navbar-fixed {
  .dropdown-content {
    border-top: .4rem solid $blue; // top: -5rem;
    li {
      a {
        color: $grey;
        font-size: $sm-size;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.d-inline {
  display: inline;
}

.notif-container {
  position: relative;
}

.tabs.tabs-transparent .indicator {
  background: $blue;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
} 
