.nav-blue {
  background: $blue;
}

.brand {
  font-size: $sm-size;
  margin-left: 3rem;
  text-shadow: 1px 1px 1px $black;
}

.nav-items {
  padding-right: 3rem;

  .search-icon {
    font-size: 1.5rem;
  }
}

.dropdown-content {
  li {
    a {
      color: $blue;
      font-size: $sm-size;
    }

    &:hover {
      background: transparent;
      border-left: .2rem solid $blue;
    }
  }
}

.d-inline {
  display: inline;
}

.notif-container {
  position: relative;

  // .notif-badge {
  //   background: $red;
  //   border-radius: 50%;
  //   font-weight: 900;
  //   height: .4rem;
  //   // padding: .4rem;
  //   position: absolute;
  //   right: .4rem;
  //   top: 1rem;
  //   width: .4rem;
  // }
}
