@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300');

.team-bg {
  background: rgb(248, 248, 248);
}

.account-container {
  margin-top: 200px;
  text-align: center;
  background: white;
  box-shadow: 0 5px 20px -4px $dark-shadow;
  border-radius: 7px;
  width: 50%;
  padding: 50px;
}

.integration-row {
  margin-left: 90px !important;
}

.integration-icons {
  margin-right: 20px;
  color: $andela-blue;
  font-size: 35px;
}

.integration-h6 {
  font-size: 2rem;
  font-family: 'Lato';
  margin-top: 25px;
  margin-bottom: 20px;
}

.integration-button {
  height: 40px;
  border-radius: 7px;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 5px 20px -4px $dark-shadow;
  background: $andela-blue;
  color: white;
  padding: 10px;

  &:hover {
    box-sizing: border-box;
    box-shadow: -2px 9px 28px 3px $dark-shadow;
  }
}

.integration-tools {
  border-block-end: inherit;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: 'Lato';
}

.integration-header {
  text-align: center;
  font-size: 14px;
  font-family: 'Lato';
}

.sidebar {
  transition: all 400ms ease-in-out;
  position: fixed;
  height: 100%;
  top: 0;
  padding: .5rem;
  background: $blue;
  overflow-y: scroll;
  padding-top: 7rem; // width: 100%;
  .sidebar-nav {
    margin-top: 0;
  }
  .nav-link {
    cursor: pointer;
    padding: 1rem .4rem;
    font-size: 1rem;
    line-height: 1;
    margin: .5rem 0;
    color: $white; // letter-spacing: .1rem;
    text-transform: capitalize;
    &:hover {
      background: $blue-nav;
      box-shadow: 0 5px 20px -4px $dark-shadow;
    }
    .nav-icons {
      font-size: 1.1rem;
    }
    a {
      color: inherit;
    }
  }
}

.sidebar-inner {
  background: rgba(255, 255, 255, 0.04);
  height: auto; // padding-bottom: 1rem;
  width: 100%;
}

.nav-menu {
  display: inline-block;
  padding-top: 1rem;
  a {
    color: $white;
  }
}

.nav-submenu {
  display: block;
  padding-top: 1rem;
  a {
    color: $white;
  }
}

.side-nav-width-expanded {
  width: 15rem;
}

.side-nav-width-collapsed {
  min-width: 2rem;
}

.body-wrapper {
  margin-top: 4rem;
}

.small-icons {
  font-size: 1.5rem;
}

.small-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.list-wrapper {
  background: $white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  img,
  p {
    margin: 0;
    padding: 0;
  }
  .username,
  .role {
    padding: 0;
    padding-left: 2rem;
    margin: 0;
  }
  .role {
    font-size: 1.3rem;
    em {
      font-style: normal;
      font-size: .8rem;
    }
  }
  .user-action {
    justify-self: flex-start;
  }
}

.user-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.account-row {
  margin-top: 4rem;
  .team-account-wrapper {
    background-color: #F1F1F1; //#EBEBEB;
    border-radius: 10px;

    .team-accout-form {
      padding: 3rem 1rem 4rem 4rem;
      .select {
        cursor: default;
        display: inline-block;
        width: 80%;
      }     
      .account-btn {
        margin: 5rem 20% 1rem;
        float: right;
        background-color: #385cd7 !important;
      }    
    }
    .span {
      color: #504747 !important;
      font-size: 18px;
    }
  }
  .member-username {
      margin-top: 2rem;
      color:#385cd7 !important
    }
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #385cd7 !important;
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #385cd7 !important;
}

.account-select-label {
  color: '#385cd7';
  font-size: '15px';
}

.account-icon {
  height: 15px;
  width: 15px;
}

.team-account-wrapper {
  background-color: #F1F1F1;
  border-radius: 10px;
}

.search-result {
  background-color: #F1F1F1;
  border-radius: 10px;
  cursor: default;
  .search-img {
  margin-left: 1rem;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  }
  .user-label {      
  color: #6378bb;
  font-size: 15px;
  padding: 3px 0px 0px 1rem;
  }
  .none {
    display: none;
  }
  .user-placeholder {
    margin-bottom: 1rem !important;
    :hover{
      color: #234fdd;
    }
  }
  
}

.search-result:hover {
  .none {
    display: block !important;
  }
  box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.select-account-label {
  font-size: 15px;
  color: #385cd7;
}

.select-account-dropdown{
  font-size: 15px;
  display: 1px solid bold;
}

.formDefault {
  margin-top: 21%;
  .label {
    color: #234fdd;
  }
  .search {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 40px;
  }
  .search-icon {
    margin-top: 10px !important;
  }
  #invite-members:focus {
    margin-top: 10px !important;
    border-radius: 13px !important;
  }
}

.formActive {
  .label {
    display: none;
  }
  .search {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 20px;
  }
}

.search-icon{
  margin-top: 6px !important;
}
#invite-members:focus {
  margin-top: 8px !important;
  border-radius: 8px !important;
}
.multi-select {
  margin-top: 1rem;
  margin-left: 8px;
}
