html {
  font-size: 80%;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(248, 248, 248);
}

* {
  outline: 0;
}

.row {
  margin-bottom: 0;
}