// colors
$red: #f00;
$blue: #385cd7;
$blue-bg: rgba(56, 92, 215, .308);
$black: #000;
$white: #fff;
$dark-shadow: rgba(0, 0, 0, .14);
$overlay: rgba(0, 0, 0, .6);
$grey: #808080;
$red-background: rgba(255, 0, 0, .308);
$yellow: rgb(255, 217, 0);
$yellow-background: rgba(255, 217, 0, .308);
$green: rgb(0, 128, 0);
$green-background: rgba(0, 128, 0, .308);
//gradient
$blue-start: rgba(75, 113, 236, .99);
$from: rgba(56, 93, 215, .98);
$to: rgba(56, 93, 215, .98);
//font sizes
$sm-size: 1rem;
