// colors
$red: rgb(247, 104, 104);
$andela-blue: #3359DB;
$blue: #385cd7;
$blue-hover: #0e3fdf;
$blue-nav: #6682df;
$blue-bg: rgba(56, 92, 215, .308);
$black: #000;
$white: #fff;
$dark-shadow: rgba(0, 0, 0, .14);
$overlay: rgba(0, 0, 0, .6);
$grey: #808080;
$red-background: rgba(247, 104, 104, .308);
$yellow: rgb(255, 214, 112);
$yellow-background: rgba(255, 214, 112, .308);
$green: rgb(76, 175, 80);
$green-background: rgba(76, 175, 80, .308);
//gradient
$blue-start: rgba(75, 113, 236, .99);
$from: rgba(56, 93, 215, .98);
$to: rgba(56, 93, 215, .98);
//font sizes
$sm-size: 1rem;