.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.pb-3 {
  padding-bottom: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.float-right {
  float: right !important;
}

.custom-container {
  width: 98%;
  margin: 0 auto;
}

.blue-btn {
  background: $blue;
  color: $white;
  &:hover {
    background: $blue;
  }
}

.preloader {
  background: $blue-bg;
  border-radius: 0;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 2000;
  .indeterminate {
    background: $white;
    border-radius: 0;
  }
}

.custom-spinner {
  height: 3rem;
  width: 3rem;
}

.custom-form {
  .input-field input[type=text]:focus+label,
  .input-field input[type=number]:focus+label,
  .input-field input[type=password]:focus+label,
  .input-field textarea:focus+label {
    color: $blue;
  }
  .input-field input[type=text]:focus,
  .input-field textarea:focus,
  .input-field input[type=number]:focus,
  .input-field input[type=password]:focus,
    {
    border-bottom: 1px solid $blue;
    box-shadow: 0 1px 0 0 $blue;
  }
  .valid {
    border-bottom: 1px solid $blue !important;
    box-shadow: none !important;
  }
  .dropdown-content li>span {
    font-size: 16px;
    color: $blue;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }
  .dropdown-content .disabled>span {
    font-size: 16px;
    color: $grey;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: $blue;
}

.btn {
  &:hover {
    background: $blue-hover;
  }
  &:focus {
    background: $blue;
  }
}

.zero {
  background: $red;
}

.zero-bg {
  background: $red-background;
}

.half-way {
  background: $yellow;
}

.half-way-bg {
  background: $yellow-background;
}

.completed {
  background: $green;
}

.completed-bg {
  background: $green-background;
}