.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.m-15-auto {
  margin: 15rem auto;
}

.mt-11 {
  margin-top: 1.1rem;
}

.pb-3 {
  padding-bottom: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.offset-s-half {
  margin-left: 3% !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.float-right {
  float: right !important;
}

.custom-container {
  width: 98%;
  margin: 0 auto;
}

.blue-btn {
  background: $blue;
  color: $white;
  &:hover {
    background: $blue;
  }
}

.preloader {
  background: $white;
  border-radius: 0;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 2000;
  .indeterminate {
    background: $blue;
    border-radius: 0;
  }
}

.custom-spinner {
  height: 3rem;
  width: 3rem;
}

.custom-form {
  .input-field input[type=text]:focus+label,
  .input-field input[type=number]:focus+label,
  .input-field input[type=password]:focus+label,
  .input-field textarea:focus+label {
    color: $blue;
  }
  .input-field input[type=text]:focus,
  .input-field textarea:focus,
  .input-field input[type=number]:focus,
  .input-field input[type=password]:focus,
    {
    border-bottom: 1px solid $blue;
    box-shadow: 0 1px 0 0 $blue;
  }
  .valid {
    border-bottom: 1px solid $blue !important;
    box-shadow: none !important;
  }
  .dropdown-content li>span {
    font-size: 16px;
    color: $blue;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }
  .dropdown-content .disabled>span {
    font-size: 16px;
    color: $grey;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: $blue;
}

.btn {
  &:hover {
    background: $blue-hover;
  }
  &:focus {
    background: $blue;
  }
}

.zero {
  background: $red;
}

.zero-bg {
  background: $red-background;
}

.half-way {
  background: $yellow;
}

.half-way-bg {
  background: $yellow-background;
}

.completed {
  background: $green;
}

.completed-bg {
  background: $green-background;
}

.light-shadow {
  box-shadow: 0 5px 20px -4px $dark-shadow;
  transition: all 400ms ease-in-out;
  &:hover {
    box-shadow: 0 10px 30px -6px $dark-shadow;
  }
}

.text-red {
  color: $red;
}

.hovered {
  cursor: pointer;
}

.text-blue {
  color: $blue
}

.animate {
  margin: 2rem auto;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}
